.row {
    /* igy kozepre fog igazodni az oldal mindig, de ey a tag nem kell ha csak egy boxunk van!(?)*/
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;  /* igy nagyobb lesz a tavolsag a 4 oszlop kozott */
}