/* BASIC SETUP*/
:root{
    --border_line: 1px solid rgba(0,0,0,0.2);
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html,

body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
}


/* REUSABLE COMPONENTS */
.row{
    max-width: 1140px;
    margin: 0 auto;
}


.row:after{
    padding:0;
    margin:0;
}




/*  PARAGRAPHS */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* HEADINGS */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform:uppercase;
}



.question{
    border-bottom:var(--border_line);
    border-left:var(--border_line);
    border-right:var(--border_line);
}

/* SIDEBAR */
.sidebar{
    top:10%;
    position: absolute;
    left: 0;
    right: 75%;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Need a specific value to work */
}


/* HEADER */




/*  SECTIONS */




/* NAV */


.crow{
    position:absolute;
    left:10%;


}

.main-nav {
    margin-top:4px;
    float: right;
    list-style: none;

}

nav{
    border-bottom: var(--border_line);
}


.navbar{
    padding-left:5%;
    max-width: 1500px;

}


.title{
    padding: 0px;
    margin: 0px;
}

.main-nav li {
    float:left;
    display:inline-block;
    margin-left: 40px;

}


/* OTHER */

.icons{
    text-align:center;
}

.date{
    text-align:right;
}

.comments{
    padding-left:40px;
}


#ask_mate{
    text-decoration:none;

}

.question{
    padding-right:20px;
    padding-top:10px;
}

.user{
    max-width: 850px;
    margin-left: 360px;
    border-bottom:var(--border_line);
    border-left:var(--border_line);
    border-right:var(--border_line);
    border-top: var(--border_line);
}

.accepted{
    background-color: #2ecc71;
}

.check{
    text-align: right;
}

.user_answers p.quest,
.user_question_comment p.quest,
.user_answer_comment p.quest,
.user_answer_comment p.ans{
    font-size: 15px;
}


.error_message {
    text-align: center;
    color: red;
}

.user_login {
    text-align: center;
    padding-top: 10px;

}

.user_login input {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
}

button {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user_login button {
    border-radius: 4px;
    margin-top: 10px;
    width: 200px;

}

button:hover, button:active {
    background-color: #6eb5e5;
    color: #ffffff;
    transition: background-color 0.5s;
}

