{% extends 'layout.html' %}

{% block content %}
    <div class = "row">
        <h1>Tags</h1>
    </div>
    {% if question_tags %}
        <div class = "row tags">
            {% for tag in question_tags %}
                <a class = "tag" href="{{url_for('route_remove_tag', where_to_redirect = 'route_add_tags', question_id = question_id, tag_id = tag.id)}}">{{tag.name}}</a>
            {% endfor %}
        </div>
    {% else %}
        <div class ="row">
            No tags yet
        </div>
    {% endif %}
    <div class ="row">
        <h1>Add Tag</h1>
    </div>
    {% if rest_of_tags %}
        <div class = "row tags">
            {% for tag in rest_of_tags %}
                <a class = "tag" href="{{url_for('route_add_tag', question_id = question_id, tag_id = tag.id)}}">{{tag.name}}</a>
            {% endfor %}
        </div>
    {% else %}
        <div class ="row">
            No more tags available
        </div>
    {% endif %}
    <div class ="row">
        <form action = "{{url_for('route_add_tags', question_id = question_id)}}" method="POST">
            <label for="tag_name">New Tag</label>
            <input type="text" name = "tag_name" id = "tag_name">
            <button type="submit">Add</button>
        </form>
    </div>
    <div class ="row">
        <a href ="{{url_for('route_question_with_answer', question_id = question_id, where_to_redirect = 'route_add_tags')}}">Back to question</a>
    </div>
{% endblock %}