{% extends 'layout.html' %}

{% block content %}
    <div class = "row">
        <h1>Add Answer</h1>
    </div>
    <div class ="row">
        {{question['title']}}
    </div>
    <div class = "row">
        <form action="{{url_for('route_new_answer', question_id = question_id)}}" method="post" enctype="multipart/form-data">
            <p>
                <label for="answer">Answer:</label>
            </p>
            <p>
                <textarea id="answer" name="answer" minlength="10" cols="40" rows="6"></textarea><br>
            </p>
            <p>
                <label for="image">Upload image</label>
            </p>
            <p>
                <input type="file" name="image" id="image" alt="No image">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}