{% extends 'layout.html' %}

{% block content %}
    <div class = "row">
        <h1>Add comment</h1>
    </div>
    {% if question %}

        <div class = "row">
            {{question['title']}}
        </div>
        <div class = "row">
            <form action="{{url_for('route_new_question_comment', question_id = question['id'])}}" method="post" enctype="multipart/form-data">
                <p>
                    <label for="question_comment">Comment:</label>
                </p>
                <p>
                    <textarea id="question_comment" name="question_comment" cols="40" rows="6"></textarea><br>
                </p>
                <button type="submit">Submit</button>
            </form>
        </div>
    {% elif answer %}
        <div class = "row">
            {{answer['message']}}
        </div>
        <div class = "row">
        <form action="{{url_for('route_new_answer_comment', answer_id = answer['id'])}}" method="post" enctype="multipart/form-data">
            <p>
                <label for="answer_comment">Comment:</label>
            </p>
            <p>
                <textarea id="answer_comment" name="answer_comment" cols="40" rows="6"></textarea><br>
            </p>
            <button type="submit">Submit</button>
        </form>
        </div>
    {% endif %}
{% endblock %}