<!DOCTYPE html>
<head>
    <title>Add tag</title>
</head>

<body>
<h1>Tags</h1>
{% if question_tags %}
    {% for tag in question_tags %}
        <a href="{{url_for('route_remove_tag', question_id = question_id, tag_id = tag.id)}}">{{tag.name}}</a>
    {% endfor %}
{% endif %}
<h1>Add Tag</h1>
{% if rest_of_tags %}
    {% for tag in rest_of_tags %}
        <a href="{{url_for('route_add_tag', question_id = question_id, tag_id = tag.id)}}">{{tag.name}}</a>
    {% endfor %}
{% endif %}
</form>
</body>