<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit comment</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
</head>
<body>
    <h1>Edit comment</h1>
    <form action="{{ url_for('route_edit_comment', comment_id=comment['id']) }}" method="post">
        <p>
            <label for="message">Your commit:</label>
        <p>
            <textarea name="message" id="message" cols="30" rows="10" required>{{ comment['message'] }}</textarea>
        <p>
            <button type="Submit">Submit comment</button>
        </p>
    </form>
</body>
</html>