<!DOCTYPE html>
<html lang="en">
<head>
    <title>List Questions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link href="{{ url_for('static', filename = "grid.css") }}" type ="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename = "normalize.css") }}" type ="text/css" rel="stylesheet">
</head>
<header>
<nav>
    <div class = "row navbar">
        <div class ="col span-1-of-4">
            <!-- Logo goes here -->
            <h2><a id="ask_mate" href = "/">Ask Mate</a></h2></div>
        <div class = "col span-3-of-4">
            <ul class = "main-nav">
                <li><a class="link" href="{{ url_for('route_users') }}">List users</a></li>
                <li><a class="link" href="/add-question">Post a new question</a></li>
                {% block menu_items %}{% endblock %}
                <li><form action="{{ url_for('route_search') }}" method="get">
                    <input type="text" id="search" name="search" placeholder="Search for something...">
                    <button type="submit">Search</button>
                </form>
                </li>
                <li>
                    {% if 'username' in session %}
                        <a href="{{ url_for('route_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('route_user_login') }}">Login</a>
                        <a href="{{ url_for('route_register_user') }}">Register</a>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</nav>
</header>
<body>
<div class = "content">
    {% block content %} {% endblock %}
</div>
</body>
<footer>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</footer>
</html>