{% extends 'layout.html' %}
{% block content %}
    <div class="row user_header">
        <h1>Users:</h1>
    </div>
    {% if users %}
        {% for user in users %}
            <div class="users">
                <div class="row user">
                    <div class="col span-3-of-12 box">
                        <h4><a href="{{ url_for('route_user_page',user_id = user.id)}}">
                            {{ user.username | safe }}</a></h4>
                    </div>
                    <div class="col span-4-of-12 box">
                        {{ user.email }}
                    </div>
                    <div class="col span-4-of-12 box">
                        {{ user.registration_date }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>There are currently no users registered</h2>
    {% endif %}
    {% include 'footer.html' %}
{% endblock %}
