<!doctype html>
<head>
    <title>List</title>

</head>
<body>
    <table>

        <thead>
            <tr>
                {% for key,value in user_questions[0].items() %}
                    <th> {{ key|replace("_"," ")|title }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>

            {% for question in user_questions %}
               <tr>
                   {% autoescape false %}
                       {% for key,value in question.items() %}
                           {% if key == "image" %}
                                <td><img width="20" height = "20"  src = " {{ value }}"></td>
                           {% elif key == "vote_number" %}
                               <td>{{value}}
                               <a href = "{{url_for('route_vote', vote = 'vote-up', question_id = question.id)}}"><img width="20" height = "20" src = "/static/vote_up.png" alt = "vote_up"></a>
                               <a href = "{{url_for('route_vote', vote = 'vote-down', question_id = question.id)}}"><img width="20" height = "20"  src = "/static/vote_down.png" alt = "vote_down"></a></td>
                           {% elif key == "title" %}
                                <td><a href = "{{ url_for('route_question_with_answer',question_id = question.id) }}">{{ value }}</a></td>
                           {% else %}
                                <td>{{ value}} </td>
                           {% endif %}

                       {% endfor %}
                   {% endautoescape %}
               </tr>
            {% endfor %}

        </tbody>
    </table>


</body>