{% extends 'layout.html' %}

{% block content %}
    {% include 'tags.html' %}

    {% include 'question.html' %}

    {% if question_comments %}
        {% include 'question_comment.html' %}
    {% endif%}
    <div class ="row">
        <a href={{url_for('route_new_question_comment', question_id=question_id)}}>Add comment to the question</a>
    </div>
    {% include 'answers.html' %}
    <h4><a href="{{url_for('route_new_answer', question_id = question_id)}}">Add new answer</a></h4>
    {% include 'footer.html' %}
{% endblock %}

