<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a question</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <table>

        <thead>
        <tr>
            {% for key in question %}
                {%  if key != 'title' %}
                    <th> {{ key|replace("_"," ")|title }}</th>
                {% endif %}
            {% endfor %}
        </tr>

        </thead>
        <tbody>

            <tr>
                {% for key,value in question.items() %}
                           {% if key == "image" %}
                                <td><img src = " {{ value }}" alt = "No image"></td>
                           {% elif key!= 'title' %}
                                <td>{{ value}} </td>
                           {% endif %}
                {% endfor %}
            </tr>

        </tbody>

    </table>
    <h4><a href="{{ url_for ('route_edit_question', question_id=question_id) }}">Edit question</a></h4>
    <h2>Answers:</h2>
    <table>

        <thead>
        <tr>
            {% for key in answers[0]%}
            <th> {{ key|replace("_"," ")|title }}</th>
            {% endfor %}
        </tr>

        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                {% for key,value in answer.items() %}
                           {% if key == "image" %}
                                <td><img src = " {{ value }}" alt = "No image"></td>
                           {% else %}
                                <td>{{ value}} </td>
                           {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <h4><a href="{{url_for('route_new_answer', question_id = question_id)}}">Add new answer</a></h4>
</body>
</html>