{% extends 'layout.html' %}

{% block content %}
    <body>
        <h1>Ask Mate</h1>
            <div class="questions-header">
                <form action="{{ url_for('route_search') }}" method="get">
                    <label for="search">Search</label>
                    <input type="text" id="search" name="search" placeholder="Search for something...">
                    <button type="submit">Search</button>
                </form>
            </div>
            {% if not user_questions %}
                <p>Sorry, the question you are looking for does not seem to exist, please try searching for different keywords.</p>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        {% for key,value in user_questions[0].items() %}
                            {% if key != "image" %}
                                <th> {{ key|replace("_"," ")|title }}</th>
                            {% endif %}
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for question in user_questions %}

                    <tr>

                        {% for key,value in question.items() %}

                            {% if key == "vote_number" %}
                                <td><p class="vote-item">{{ value }}</p>
                                    <a class="no-underline"
                                       href="{{ url_for('route_vote', question_id = question.id, vote = 1, order_by = order_by, order_direction=order_direction) }}"><img
                                            width="20" height="20" src="/static/vote_up.png" alt="vote_up"></a>
                                    <a class="no-underline"
                                       href="{{ url_for('route_vote', question_id= question.id, vote = -1, order_by = order_by, order_direction=order_direction) }}"><img
                                            width="20" height="20" src="/static/vote_down.png" alt="vote_down"></a></td>
                            {% elif key == "title" %}
                                <td>
                                    <a href="{{ url_for('route_question_with_answer',question_id = question.id, view_number_increment = True) }}">{{ value | safe }}</a>
                                </td>
                            {% elif key == "message" %}
                                <td class="message">{{ value | safe | urlize(40)}} </td>
                            {% elif key != "image" %}
                                <td>{{ value | safe }} </td>
                            {% endif %}

                        {% endfor %}
                        <td><a href="{{ url_for('route_delete_question', question_id=question['id']) }}">Delete question</a></td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}
    </body>
{% include 'footer.html' %}
{% endblock %}
