{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <form action="{{ url_for('route_user_login') }}" method="post" enctype="multipart/form-data" class="user_login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <label for="submit"></label>
            <button type="submit">Log in!</button>
            <label for="next"></label>
            <input type="hidden" name="next" id="next" value="{{ request.args.get('next', '') }}">
        </form>
    </div>
{% endblock %}